---
on:
  push:
    branches:
      - master
      - develop
  pull_request:
  schedule:
    - cron: "30 10 * * *"

name: "Contract Security Analysis"
jobs:
  contract_analysis:
    name: "Security Check"
    uses: aurora-is-near/.github/.github/workflows/contract_analysis.yml@master
    secrets: inherit
